server:
  port: ${SERVER_PORT}
  servlet:
    context-path: ${SERVER_SERVLET_CONTEXT_PATH}
  address: ${SERVER_ADDRESS}

logging:
  level:
    root: ${LOGGING_LEVEL_ROOT}
    org:
      hibernate:
        SQL: ${LOGGING_LEVEL_HIBERNATE_SQL}
        orm:
          jdbc:
      springframework:
        web: ${LOGGING_LEVEL_SPRING}

spring:
  servlet:
    encoding:
      enabled: true
      charset: UTF-8
      force: true

  jpa:
    hibernate:
      ddl-auto: ${DB_DDL_AUTO}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: false
        format_sql: true
        jdbc:
          time_zone: UTC
    open-in-view: false
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRESQL_EXTERNAL_PORT}/${POSTGRESQL_DB}?serverTimezone=UTC
    username: ${POSTGRESQL_USER}
    password: ${POSTGRESQL_PASSWORD}

  data:
    redis:
      host: localhost
      port: ${REDIS_EXTERNAL_PORT}
      password: ${REDIS_PASSWORD}
      database: ${REDIS_DATABASE}

  threads:
    virtual:
          enabled: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            issuer-uri: https://accounts.google.com
app:
  secret: ${JWT_SECRET_KEY}
  default-locale: ${APP_DEFAULT_LOCALE}
  default-timezone: ${APP_DEFAULT_TIMEZONE}
  jwt:
    secret: ${JWT_SECRET_KEY}
    token:
      expires-in: ${JWT_ACCESS_EXPIRES_IN}
    refresh-token:
      expires-in: ${JWT_REFRESH_EXPIRES_IN}
      expires-in-with-rememberme: ${JWT_REFRESH_EXPIRES_IN_WITH_REMEMBERME}
  oauth2:
    authorized-redirect-uris: ${DEEP_LINK_REDIRECT}
    cookie:
      auth-request-name: ${OAUTH2_AUTHORIZATION_REQUEST_COOKIE_NAME}
      redirect-uri-param-name: ${OAUTH2_REDIRECT_URI_PARAM_COOKIE_NAME}
      expire-seconds: ${OAUTH2_COOKIE_EXPIRE_SECONDS}

springdoc:
  api-docs:
    path: /v3/api-docs

scalar:
  path: /docs
  url: /v3/api-docs
  enabled: true